*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.footer
{
    padding: 30px 40px;
    width: 100%;
    background: #0f0f0f;
}
.footer .top_container
{
    margin-top: 20px;
    max-width: 100%;
}
.footer .top_container .content
{
    width: 100%;
    display: flex;
}
.footer .top_container .content .left_box
{
    width: 49%;
    padding: 30px 30px;
    background: linear-gradient(to right, #323232, #141414);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.footer .top_container .content .left_box .box
{
    padding: 40px 20px;
    background: #3f3e42;
    border-radius: 10px;
}
.footer .top_container .content .left_box .box .detail h3
{
   font-size: 32px;
   color: #37c012;
   text-align: center;
}
.footer .top_container .content .left_box .box .detail p
{
    margin-top: 10px;
    text-transform: uppercase;
    color: #f4e6e8;
    font-size: 12px;
    text-align: center;
}
.footer .top_container .content .right_box
{
    width: 49%;
    padding: 30px 30px;
    background: linear-gradient(to right, #323232, #141414);
    border-radius: 10px;
    justify-content: space-between;
    margin-left: 20px;
}
.footer .top_container .content .right_box .content
{
    display: flex;
}
.footer .top_container .content .right_box .content .detail h2
{
    color: #fff;
    font-size: 42px;
}
.footer .top_container .content .right_box .content .detail h2 span
{
    color: #5a77f3;
}
.footer .top_container .content .right_box .content .icon
{
    margin-top: 50px;
    margin-left: 70px;
    font-size: 22px;
    color: #6c6c6c;
    transition: 0.5s;
}
.footer .top_container .content .right_box:hover .content .icon
{
    color: #fff;
}
.footer .bottom_container
{
    padding: 30px 40px;
    width: 100%;
}
.footer .bottom_container .container
{
    margin-top: 20px;
    max-width: 100%;
}
.footer .bottom_container .container h2
{
    text-align: center;
    font-size: 42px;
    color: #fff;
    letter-spacing: 1px;
}
.footer .bottom_container .container .nav
{
    margin-top: 30px;
    width: 100%;
}
.footer .bottom_container .container .nav ul
{
    display: flex;
    margin-left: 37%;
}
.footer .bottom_container .container .nav ul li
{
    list-style: none;
    margin-left: 20px;
}
.footer .bottom_container .container .nav ul li .link
{
    text-decoration: none;
    color: #323232;
    transition: 0.5s;
    font-weight: 600;
}
.footer .bottom_container .container .nav ul li .link:hover
{
    color: #fff;
}